@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-slate-900;
  }
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: #000000;
}

.view-selected-doc {
  cursor: pointer !important;
}
.translate-x-90-p {
  transform: translateX(-90%);
}
.card {
  /* width: 200px;
  height: 300px; */
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
}

.card-back {
  /* background-color: #f0f0f0; */
  transform: rotateY(180deg);
}
/* .fancy-card {
  width: 640px;
  position: relative;
  background-color: rgb(16 16 16);
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 1.5rem;
  padding: 1rem;
} */

/* .fancy-card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, var(--primary-color), transparent);
  opacity: 0;
} */

/* .fancy-card:after {
  top: 65%;
  opacity: 0;
}

.fancy-card:hover:after {
  top: 25%;
  opacity: 1;
} */

.fancy-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  /* background-position: 50% 50%; */

  background-size: 1.1rem 1.1rem;
  /* padding: 4rem; */
}

/* .fancy-card-content > :is(h1, h3, p) {
  text-align: center;
} */

/* .fancy-card-content > h1 {
  color: rgb(250 249 246);
  font-size: 2.6rem;
} */

/* .fancy-card-content > h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.76rem;
} */
/* 
.fancy-card-content > p {
  color: rgb(255 255 255 / 75%);
  line-height: 1.5rem;
} */

/* @media (max-width: 700px) {
  .fancy-card {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }
}

@media (max-width: 600px) {
  .fancy-card-content {
    padding: 3rem;
  }

  .fancy-card-content > h1 {
    font-size: 2.2rem;
  }
} */
