transformers
fuzzywuzzy
readability
python-Levenshtein
pandas
nltk
numpy
torch
gensim
scikit-learn
seaborn
matplotlib
print-color
pyspellchecker
bertopic
umap-learn
hdbscan
bertopic
hdbscan
sentence_transformers
umap-learn
flask-restful